<div class="container">


  <table id="store_table">
  <th>
    NAME
  </th>
  <tbody>
  <% @stores.each do |store| %>
  <tr>
    <td><%= store.name %></td>
    <td><button type="submit"><a href="/stores/<%= store.id %>/edit">Edit</a></button></td>
  </tr>
  <% end %>
  </tbody>
  </table>
