<div class="container">

<form method="post" action="/stores">
  <p>Would you like to add a new store into your list?</p>

    <label class="new_input" for="name">New Store:</label>
    <input placeholder="Enter name" type= "text" name="name"/>

  <button class="submit">Add New</button>
    <button class="submit"><a href="/stores">Cancel</a></button>
</form>
</div>
