<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <title>MoneyCashboard</title>
    <link rel="stylesheet" href="/css/style.css">


  <body class= "w3-light-gray">
    <nav class="w3-sidebar w3-bar-block w3-black w3-text-grey w3-top w3-center" style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
      <h3 id="main_heading" class="w3-padding-64 w3-center"><a class="heading" href="/transactions"><b>Money<br>Cashboard</b></a></h3>
      <a href="/"class="w3-bar-item w3-button">HOME</a>
      <a href="/tags" class="w3-bar-item w3-button">TAGS</a>
      <a href="/transactions"class="w3-bar-item w3-button">OVERVIEW</a>
    </nav>





    <%= yield %>

  </body>
</html>
