


body {
  background-color: gray;
}

.red {
  color: red;
}

a:link{
  text-decoration: none;

}

#store_table {

}



.budget_box {
  margin: 20px;
}


.container {
  margin-left: 30%;
}

h3 {
  font-size: 40px;
   text-shadow: 1px 1px;
   color: darkgray;
}

.new {
  font-weight: bold;
}

.floating-box {
  margin: 40px 20px 20px 20px;
  display: inline-block;
  height: 100px;
  background-color: #e6e6e6;
  width: 150px;
  border: 2px solid darkgray;
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
  text-align: center;
}


#tag .floating-box {
  background-color: pink;
}

.add {
  width: 100px;
  height: 30px;
  margin: 10px;
  background-color: lightgray;
  font-weight: 300;
  border-radius: 5px;
}

.total {
  font-size: 20px;
  font-weight: 600;

}

table {
  margin-top: 50px;
  border-collapse:collapse;
  width: 60%;

}

th {
  text-transform: uppercase;
}

th,td {
  padding: 3px;
  text-align: left;
  border-bottom: 1px solid gray;
}

.new_input {
  font-size: 15px;
}

.wrapper {
  border: 1px solid black;
  width: 300px;
  height: auto;
  padding: 50px;
  border-radius: 5px;
  margin: 20px;
  font-size: 18px;
  color: black;

}
.addnew{
  background-color: gray;
  margin: 0 auto;
}


/*.flex-container {
  display: flex;
  justify-content: center;
}*/
