


body {
  background-color: gray;
}

.red {
  color: orange;
}

a:link{
  text-decoration: none;

}

.empty_list {
  display: flex;
  width: 400px;
  height: 100px;
  color: red;
  border: 2px solid black;
}



.budget_box {
  margin: 20px;
}


.container {
  margin-left: 30%;
}

#home_container {
  background-image: url(gallery/control.jpg);
  background-size:cover;
}


h3 {
  font-size: 45px;
  color: black;
}

.new {
  font-weight: bold;
}

.floating-box {
  margin: 40px 20px 20px 20px;
  display: inline-block;
  height: 100px;
  background-color: #e6e6e6;
  width: 150px;
  border: 2px solid darkgray;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  text-align: center;
}


#tag .floating-box {
  background-color: pink;
}

.add {
  width: 100px;
  height: 30px;
  margin: 10px;
  background-color: lightgray;
  font-weight: 300;
  border-radius: 5px;
}

.total {
  font-size: 20px;
  font-weight: 600;

}

table {

  border-collapse:collapse;
  width: 40%;
  margin: 40px auto;
}

th {
  text-transform: uppercase;
}

th,td {
  padding: 3px;
  text-align: left;
  border-bottom: 1px solid gray;
}

.new_input {
  font-size: 15px;
}

.wrapper {
  border: 1px solid black;
  width: 400px;
  height: auto;
  padding: 50px;
  border-radius: 5px;
  margin: 40px;
  font-size: 18px;
  color: black;

}
.addnew{
  background-color: gray;
  margin: 0 auto;
}
