<div class="container">
  <h2 style="margin-bottom:50px; ">Choose a Category</h2>

  <% @tags.each do |tag| %>

  <div id="tag" class="floating-box">
    <a href="/tags/<%= tag.id %>">
      <p ><%= tag.tag_category %></p>
    </a>

  </div>




  <% end %>

</div>
