<div class="container" style="margin-left:40%">


<form method="post" action="/transactions">
  <div class="wrapper">




    <div class="form-one">
      <label class="new_input" for="date">Date:</label>
      <input type = "date" name="transaction_date" id="date"/>
    </div>

    <div class="form-one">
    <label class="new_input" for="store-select">Select Store: </label>
    <select id="store-select" name="store_id">
      <% @stores.each do |store| %>
        <option value=<%= store.id %>><%= store.name %></option>
      <% end %>
    </select>
  </div>

  <div class="form-one">
  <label class="new_input" for="tag-select">Select Tag: </label>
  <select id="tag-select" name="tag_id">
    <% @tags.each do |tag| %>
      <option value=<%= tag.id %>><%= tag.tag_category %></option>
    <% end %>
  </select>
</div>


    <div class="form-one">
      <label class="new_input" for="amount">Amount:</label>
      <input placeholder="Enter amount" step="0.05" type = "number" name="amount" id="amount"/>
    </div>

    <div class="form-one">
      <label class="new_input" for="amount">Note:</label>
      <input placeholder="Make a note"type = "text" name="note" id="note"/>
    </div>
</div>



<button class="w3-button w3-black w3-left" type="submit"> Add New </button>

  </div>
</form>
</div>
